@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';
@tailwind base;
@tailwind components;
@tailwind utilities;

@import "flowbite/dist/flowbite.css";

body {
	font-family: 'Rubik';
	font-weight: normal;
	height: 100vh;
}
